<div>
    {{ $keyname := .Get 0 }}

    {{ with index $.Site.Data.kismet.api $keyname }}
    {{ range . }}
    {{ $apidata := . }}

    <h3 id="{{ .name | urlize }}" style="border-left: 7px solid grey; padding-left: 10px;">{{ .name }} <a href="#{{ .name | urlize }}" class="anchor" aria-hidden="true">#</a></h3> 

    <div style="margin-left: 10px;">

    <div style="margin-top: 10px; margin-left: 10px;">
    {{ .docs | markdownify }}
    </div>

    <div style="display: flex;">
        <div style="flex: 2; border-right: 2px solid gray; margin-right: 10px;"> 
            <div style="margin-top: 10px;"><strong>Roles</strong></div>
            {{ range .roles }}
            <div style="margin-left: 10px"><i>{{ . }}</i></div>
            {{ end }}
        </div>
        <div style="flex: 1;">
            {{ with .added }}
            <div style="margin-top: 10px"><strong>Added</strong></div> 
            <div style="margin-left: 10px">API added <code>{{ . }}</code></div>
            {{ end }}
        </div> 
    </div>

    <div style="display: flex;">
        <div style="flex: 2; border-right: 2px solid gray; margin-right: 10px;"> 
            <div style="margin-top: 10px;"><strong>URI</strong></div>
            <div>
                {{ if eq (len .types) 0 }}
                <div><code>{{ $apidata.uri }}</code></div>
                {{end}}
                {{ range .types }}
                {{ if (eq . "anyjson") }}
                <div><code>{{ $apidata.uri }}.json</code></div>
                <div><code>{{ $apidata.uri }}.ekjson</code></div>
                <div><code>{{ $apidata.uri }}.prettyjson</code></div>
                {{ else }}
                <div><code>{{ $apidata.uri }}.{{.}}</code></div>
                {{ end }}
                {{end}}
            </div>
        </div>

        <div style="flex: 1;">
            <div style="margin-top: 10px;"><strong>Methods</strong></div>
            <div>
                {{ range .methods  }}
                <span style="margin-right: 5px;"><code>{{ . }}</code></span>
                {{end}}
            </div>
            
        </div>

    </div>

    {{ with .parameters }}
    <div style="margin-top: 10px;"><strong>Parameters</strong></div>
    <div style="display: flex;">
        <div style="flex: 2; border-right: 2px solid gray; margin-right: 10px;"> 
            Parameters
        </div>
    </div> 
    {{ end }}

    {{ if ne (len .results) 0 }}
    <div style="margin-top: 10px;"><strong>Results</strong></div>
    <div style="padding-top: 10px;">
    {{ range .results }}
    <div style="display: flex">
        <div style="flex: 1; border-bottom: 1px solid gray; padding-right: 10px;">
            {{ if eq (index . 0) 0 }}
            {{ else if eq (index . 0) 200 }}
            <span style="color: green;">200</span> OK
            {{ else if eq (index . 0) 406 }}
            <span style="color: red;">406</span> Not Acceptable
            {{ else if eq (index . 0) -1 }}
            <span style="color: red;">HTTP ERROR</span>
            {{ else if and (ge (index . 0) 200) (le . 0 299) }}
                {{ index . 0 }}
            {{ else }}
                {{ index . 0 }}
            {{ end }}
        </div>
        <div style="flex: 3; padding-left: 10px; border-left: 2px solid gray; border-bottom: 1px solid gray;">
            Returned {{ index . 1 }}
        </div>
    </div>
    {{ end }}
    </div>
    {{ end }}

    {{ with .notes }}
    <div style="margin-top: 10px"><strong>Notes</strong></div> 
    <div style="margin-left: 10px;">
        {{ . | markdownify }}
    </div>
    {{ end }}
        
    </div>
    {{ end }}
    {{ end }}

</div>
