<div>
    {{ $keyname := .Get 0 }}

    {{ with index $.Site.Data.kismet.api $keyname }}
    {{ range . }}

    {{ $apidata := . }}

    <h3 id="{{ .name | urlize }}">{{ .name }} <a href="#{{ .name | urlize }}" class="anchor" aria-hidden="true">#</a></h3> 

    <div style="display: flex;">
        <div style="flex: 1; margin-top: 5px; font-size: 60%; color: grey;">DESC</div>
        <div style="flex: 10; padding-left: 10px;">{{ .docs | markdownify }}</div>
    </div>

    <div style="display: flex; padding-top: 10px;">
        <div style="flex: 1; margin-top: 5px; font-size: 60%; color: grey;">ROLES</div>
        <div style="flex: 10; padding-left: 10px">
            {{ range .roles }}
            <code style="padding-right: 5px;">{{ . }}</code>
            {{ end }}
        </div>
    </div>

    {{ with .added }}
    <div style="display: flex; padding-top: 10px;">
        <div style="flex: 1; margin-top: 5px; font-size: 60%; color: grey;">ADDED</div>
        <div style="flex: 10; padding-left: 10px;">
            API added <span style="font-weight: 500;">{{ . }}</span>
        </div>
    </div>
    {{ end }}

    <div style="display: flex; padding-top: 10px;">
        <div style="flex: 1; margin-top: 5px; font-size: 60%; color: grey;">URI</div>
        <div style="flex: 10; padding-left: 10px;">
            {{ if eq (len .types) 0 }}
            <div><code>{{ $apidata.uri }}</code></div>
            {{end}}
            {{ range .types }}
                {{ if (eq . "anyjson") }}
                <div><code>{{ $apidata.uri }}.json</code></div>
                <div><code>{{ $apidata.uri }}.ekjson</code></div>
                <div><code>{{ $apidata.uri }}.prettyjson</code></div>
                {{ else }}
                <div><code>{{ $apidata.uri }}.{{.}}</code></div>
                {{ end }}
            {{ end }}
        </div>
    </div>

    <div style="display: flex; padding-top: 10px;">
        <div style="flex: 1; margin-top: 5px; font-size: 60%; color: grey;">METHODS</div>
        <div style="flex: 10; padding-left: 10px;">
            {{ range .methods  }}
            <span style="margin-right: 5px;"><code>{{ . }}</code></span>
            {{ end }}
        </div>
    </div>

    {{ with .parameters }}
    <div style="display: flex; padding-top: 10px;">
        <div style="flex: 1; margin-top: 5px; font-size: 60%; color: grey;">POST<br/>PARAMETERS</div>
        <div style="flex: 10; padding-left: 10px;">

        {{ range . }}
        <div>
            <span style="font-weight: 500;"><code>{{ .name }}</code></span> 

            {{ with .type }}
            <span style="font-size: 70%; font-weight: bold; padding-right: 5px;">{{ . }}</span>
            {{ end }}

            {{ with default true .required }} 
                {{ if eq . true }} 
                <span style="color: red; font-size: 60%;">REQUIRED</span> 
                {{ else }} 
                <span style="font-style: italic; font-size: 60%;">OPTIONAL</span>
                {{ end }} 
            {{ end }}

            <div style="padding-left: 10px;">
                {{ .description | markdownify }}
            </div>
        </div>
        {{ end }}

        </div>
    </div>
    {{ end }}

    {{ with .return }}
    <div style="display: flex; padding-top: 10px;">
        <div style="flex: 1; margin-top: 5px; font-size: 60%; color: grey;">RETURN</div>
        <div style="flex: 10; padding-left: 10px;">
            {{ . | markdownify }}
        </div>
    </div>
    {{ end }}

    {{ with .responses }}
    <div style="display: flex; padding-top: 10px;">
        <div style="flex: 1; margin-top: 5px; font-size: 60%; color: grey;">RESPONSES</div>
        <div style="flex: 10; padding-left: 10px;">
            {{ with .success }}
            <div style="font-weight: 400;">Success</div>
            {{ range . }}
                <div style="display: flex; padding-left: 10px;">
                    <div style="flex: 1; color: green;">
                        {{ index . 0 }}
                    </div>
                    <div style="flex: 8;">
                        {{ index . 1 }}
                    </div>
                </div>
            {{ end }}
            {{ end }}

            {{ with .failure }}
            <div style="font-weight: 400;">Failure</div>
            {{ range . }}
                <div style="display: flex; padding-left: 10px;">
                    <div style="flex: 1; color: red;">
                        {{ if eq (index . 0) -1 }}
                        ERROR
                        {{ else }}
                        {{ index . 0 }}
                        {{ end }}
                    </div>
                    <div style="flex: 8;">
                        {{ index . 1 }}
                    </div>
                </div>
            {{ end }}
            {{ end }}
        </div>
    </div>
    {{ end }}

    {{ with .notes }}
    <div style="display: flex; padding-top: 10px;">
        <div style="flex: 1; margin-top: 5px; font-size: 60%; color: grey;">NOTES</div>
        <div style="flex: 10; padding-left: 10px;">
            {{ . | markdownify }}
        </div>
    </div>
    {{ end }}
        
    {{ end }}
    {{ end }}

</div>
