{{ with $.Site.Data.kismet.release.kismet }}

<h3 id="kismet-release">Kismet {{ .version }} <a href="#kismet-release" class="anchor" aria-hidden="true">#</a></h3>

<p>The latest stable Kismet release is {{ .version }}</p>

{{ $version := .version }}

{{ with .changelog }}
<div style="padding-left: 25px; padding-bottom: 20px;">
    {{ . | markdownify }}
    <br/>
    <br/>
    Read the full release announcement <a href="/releases/kismet-{{ $version }}/">here</a>.
</div>
{{ end }}

<p>Download the kismet-{{ .version }} source tarball <a href="/code/kismet-{{.version}}.tar.xz">here</a>, or check out the
tagged release from the <a href="https://github.com/kismetwireless/kismet/releases/tag/kismet-{{.version}}">Git repository</a></p>

<p>If you're interested in the absolute latest development Kismet code, check out the git code, below.</p>

{{ end }}
